 
 $dark-blue :#003466;
 $bg : #F6F6F6;
 $shadow : 0 2px 15px 0.5px rgba(0,0,0,.1);
 $border : 1px solid rgba(0,0,0,0.1);


 $table-width: 768px;
 $mobileL-width: 425px;
 $mobileM-width: 375px;
 $mobileS-width: 320px;

@mixin  baseColor {
  color : $dark-blue;
}

@mixin baseShadow {
  box-shadow : $shadow;
}

@mixin baseBorder {
  border : 2px solid $dark-blue;
}

@mixin modalResponsive {
    @media (max-width : #{$table-width}){
      .modal__wrapper{
        height: 45%;
      }
    }
    @media(max-width: #{$mobileL-width}){
      .modal__wrapper{
        height: 50%;
      }
    }
    @media (max-width: #{$mobileM-width}) {
      .addNote{
        height: 100px;
      }
    }
    @media(max-width: #{$mobileS-width}){
      .modal__wrapper{
        height: 40%;
      }
      .modal__box{
        padding: 10px;
      }
      .addNote{
        height: 65px;
      }
      .modal__title{
        font-size: 15px;
      }
    }
}
@mixin mobileL_Width {
  @media (max-width : #{$mobileL-width}){
    .login__header{
      display: none;
    }
    .login__body{
      width: 100%;
    }
  }
}

@mixin navbarResponsive {

  @media(max-width: #{$mobileL-width}){
    .navbar__inner{
      .navbar__admin{
        display: inline;
      }
    }
    .navbar__links{
      margin-top: 20px;
    }
  }
  
}