.admin__page{
  background-color: $bg;
  min-height: 100vh;
  .container_admin{
    max-width: 1000px;
    margin: auto;

    .admin__inner{
      box-shadow: $shadow;
      margin-right: 20px;
      margin-left: 20px;

      .brand{
        background-color: $dark-blue;
        box-shadow: $shadow;

        &__logo{
          width: 250px;
          margin: auto;
        }
          img{
            width: 100%;
          }
          &__title{
            font-size: 30px;
            text-align: center;
            color: white;
            padding-bottom: 20px;
            font-weight: bold;
          }
        }

        .admin__credentials{
          color: white;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          margin-left: 10px;
        }
      }

      .navbar__container{
        padding: 30px 0px;
      }
    .table__container{
      border-radius: 10px;

      .table__header{
        padding: 20px;
        background-color: white;
      }
      .table__body{
        padding: 20px;
        background-color: white;
        border-radius: 10px;
        .table_item{
          border: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom-right-radius: 6px;
          overflow: hidden;
          border-bottom-left-radius: 6px;
          }
        }
      }
    }
    
    .table__title {
      padding: 20px;
  }
    }
