
.row{
  display: flex;
  flex-wrap: wrap;
}
.LoginContainer{
  background:url("https://siap.uhamka.ac.id/assets/img/bg.png");
  .login{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 700px;
    margin: auto;
    &_wrapper{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 300px;
    }
    &__inner{
      width: 800px;
      background-color: white;
      border-radius: 10px;
      margin:20px;
      @include baseShadow;
    }
    .loginSide{
      width: 50%;
      padding: 20px;
      background-color: $dark-blue;
      border-radius: 10px 0px 0px 10px;
    }
    &__logo{
      text-align: center;
      img{
        width: 80%;
      }
    }
    .loginForm{
      width: 50%;
      padding: 10px;
    }
    &__desc{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      .desc__brand{
        h1{
          color: white;
        }
      }
      .desc__instruction{
        // margin-top: 20px;
        color: white;
      }
    }
  }
  @include mobileL_Width;
}
