
.login__form{
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  justify-content: center;
  flex-direction: column;
  .form__title{
    color : $dark-blue;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .form{
    padding: 20px;
    &__group{
      margin-top: 20px;
      :focus{
        @include baseBorder;
        box-shadow: 0 0 2px $dark-blue;
      }
    }
    &__control{
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      border: 2px solid #ced4da;
      outline: none;
      transition: 0.3s
    }
    .btn__submit{
      @include baseBorder;
      background-color: $dark-blue;
      color: white;
      border-radius: 5px;
      padding: 5px 15px 5px 15px;
      margin-right: auto;
      margin-left: auto;
      outline: none;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      margin-top: 50px;
    }
  }
}