.modal__wrapper{
  position: fixed;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  height: 45%;
  transform: translate(90%, -100%);
  width: 35%;
  z-index: 10;
  background-color: white;
  transition: transform 1s ease, top 1s ease;
}

.modal__wrapper--show{
  transform: translate(90%, 35%);
}

.modal__backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
  transition: transform 1s ease, top 1s ease;
}

.modal__box{
  padding: 20px;
  position: relative;
  height: 70%;
  background-color: white;
}

.addNote {
  width: 100%;
  height: 100px;
  margin-top: 10px;
}

.btn--darkBlue {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: $dark-blue;
  color: white;
  float: right;
}
.btn__addNote {
  float: right;
}
.modal__title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}
@include modalResponsive;