.navbar__container{
    background-color: white;
    padding: 30px 0px;
    border-bottom: $border;
  .navbar__inner{
    .navbar__admin{
      display: flex;
      justify-content: space-between;
      padding: 5px 10px;
      .admin__name{
        font-size: 20px;
        margin-left: 10px;
        font-weight: bold;
        color: black;
      }
    }
    .navbar__links{
      margin-left: auto;
      .link{
        margin-left: 5px;
        margin-right: 5px;
        text-decoration: none;
        color:white;
        background-color: $dark-blue;
        padding: 10px 15px;
        border-radius: 5px;
      }
    }

}
@include navbarResponsive;
}