.tab__btn {
  padding: 10px 60px;
  background-color:white;
  color:black;
  outline: none;
  border-bottom: none;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border: $border;
  border-bottom: none;
  transition: 0.5s;
}
.tabs__btn-active{
  background-color:$dark-blue;
  color: white;
  transition: 0.5s;
  border-bottom: none;
}